.App {
  margin: auto;
  height: 100%;
  width: 100%;
  display: block;
  overflow: auto;
  top: 0px;
  left: 0px;
  min-height: 100vh;
  position: absolute;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}

html {
  text-align: center;
  font-family:'Yu Gothic', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
}


.darkText {
  color: white;
}

.lightText {
  color: black;
}

.title {
  font-size: 34px;
  color: #FFC30B;
  padding: 30px;
  margin: auto;
  text-align: center;
  font-weight: bold;
}

.mobileTitle {
  font-size: 24px;
  color: #FFC30B;
  padding: 5px;
  margin: 0px;
  text-align: center;
}

p {
  line-height: 200%;
  color: black;
  font-size: 20px;
}

.placement {
  font-size: 24px;
  color: #5299ba;
  font-weight: bold;
  padding: 10px;
  padding-bottom: 20px;
  margin: auto;
  text-align: center;
}

.mobilePlacement {
  font-size: 22px;
  color: #5299ba;
  font-weight: bold;
  padding: 5px;
  margin: 0px;
  text-align: center;
}

.myheader {
  display: block;
  overflow: auto;
  background-color: #5299ba;
  padding: 10px;
  padding-bottom: 30px;
  margin-bottom: 100px;
  float: right;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  border-bottom: 2px solid black;
}

.myDarkHeader {
  display: block;
  overflow: auto;
  background-color: black;
  padding: 10px;
  padding-bottom: 30px;
  margin-bottom: 100px;
  float: right;
  width: 100%;
  position: fixed;
  top: 0px;
  border-bottom: 2px solid #5299ba;
}

.tabHeader {
  text-align: center;
  margin: auto;
  padding: 10px;
  float: right;
  margin-right: 100px;
  display: block;
}

.postTitle {
  font-size: 28px;
  color: #EB6E80;
  padding: 30px;
}

.mobilePostTitle {
  font-size: 20px;
  color: #EB6E80;
  padding: 10px;
}

button {
  font-size: 24px;
  background-color: transparent;
  color: #5299ba;
  border: 2px solid #5299ba;
  min-height: 30px;
  min-width: 100px;
  margin: 10px;
  padding: 12px;
  font-weight: bolder;
}


.dropdown {
  position: relative;
  display: inline-block;
}

textarea {
  width: 70%;
  height: 120px;
  padding: 12px;
  border: 1px solid black;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-size: 20px;
  font-family:'Yu Gothic', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
}

.dropdown-content {
  display: none;
  background-color: #5299ba;
  border: 1px solid black;
  border-top: none;
  padding-bottom: 10px;
  position: fixed;
  z-index: 99;
  margin-left: 25px;
}

.dropdown-contentDark {
  display: none;
  background-color: black;
  border: 1px solid #5299ba;
  border-top: none;
  padding-bottom: 10px;
  position: absolute;
  z-index: 99;
  margin-left: 25px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-contentDark {
  display: block;
}

select {
  font-size: 24px;
  background-color: white;
  border: 1px solid  black;
  color: black;
  margin: 10px;
  min-height: 30px;
  min-width: 100px;
  padding: 10px;
  font-family:'Yu Gothic', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
}

button:hover {
  color: white;
  background-color: #5299ba;
}

label {
  font-size: 24px;
  background-color: transparent;
  color: black;
  margin: 20px;
  min-height: 30px;
  min-width: 100px;
}

input {
  font-size: 24px;
  background-color: white;
  border: 1px solid  black;
  color: black;
  margin: 10px;
  padding-left: 8px;
  min-height: 30px;
  min-width: 100px;
  font-family:'Yu Gothic', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
}

.mobileSelection {
  font-size: 18px;
  background-color: white;
  border: 1px solid  #5299ba;
  color: black;
  margin: 5px;
  min-height: 25px;
  min-width: 80px;
}

.descriptionBox {
  font-size: 20px;
  background-color: white;
  border: 1px solid  #5299ba;
  color: black;
  margin: 10px;
}

#AddPost {
  margin: 10px;
  font-size: 20px;
  width: 30px;
  height: 30px;
  border: none;
}

.postDiv {
  border: 1px solid lightgray;
  margin: 20px;
  padding: 20px;
}

.mobileAdded {
  font-size: 18px;
}

.mobilePostDiv {
  border: 1px solid lightgray;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
}

#darkBackground {
  color: black;
}


#darkBackground {
  color: white;
}

.tabContent {
  text-align: center;
  width: 70%;
  padding: 100px;
  margin-bottom: 50px;
  display: block;
  background-size: cover;
  margin: auto;
  border: none;
  color: black;
}


.tabContentDark {
  text-align: center;
  width: 70%;
  padding: 100px;
  margin-bottom: 50px;
  display: block;
  background-size: cover;
  margin: auto;
  border: none;
  color: white;
}


#startMenu {
  margin: auto;
  height: 90%;
  width: 100%;
  background: linear-gradient(to bottom, #5299ba 0%, #FFC30B 100%);
  background-repeat:no-repeat;
  display: block;
  overflow: auto;
  top: 0px;
  left: 0px;
  min-height: 95vh;
  position: absolute;
  z-index: 99;
}

#borderimg { 
 background-size: 100% 100%;
 height: 250px;
 width: 100%;
 background-repeat:no-repeat;
 display: block;
}


/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 10px;
}



.background-enter {
  transform: translateY(100%);
}
.background-enter.background-enter-active {
  transform: translateY(0%);
  transition: transform 1000ms ease-in-out;
}
.background-leave {
  transform: translateY(0%);
}
.background-leave.background-leave-active {
  transform: translateY(-100%);
  transition: transform 1000ms ease-in-out;
}
